@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout (growing content + sticky Footer) */
html,
body,
main {
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

@layer components {
  /* Containers */
  .product {
    @apply relative flex flex-col m-5 bg-white z-10 p-5 md:p-7 lg:p-8 border-mainWhiteGray border-t-2 shadow-lg rounded-3xl transition-all;
  }
  .product:hover {
    @apply bg-gradient-to-bl from-white via-white to-mainLighterGray;
  }
  .product:hover > .productImage {
    @apply scale-110 transition-all;
  }

  /* Buttons */
  .button {
    @apply text-xs p-2 md:text-sm bg-gradient-to-b from-mainLighterBrown to-mainBrown rounded-xl font-semibold transition-colors;
  }
  .button:hover {
    @apply cursor-pointer bg-gradient-to-b from-mainBrown to-mainLighterBrown;
  }
  .specials,
  .categorySpecials {
    @apply border-2 border-mainBrown transition-colors text-center rounded-full z-30 p-5 sm:p-10 shadow-md text-mainBrown bg-black bg-opacity-50 text-lg font-semibold tracking-[0.6em] backdrop-blur-sm backdrop-grayscale backdrop-brightness-110;
  }
  .specials:hover {
    @apply cursor-pointer bg-white bg-opacity-75 text-mainGray;
  }
  .categoryButton {
    @apply border-2 border-mainBrown transition-colors z-30 p-5 sm:p-10 shadow-md text-mainBlackGray font-semibold tracking-[0.4em] sm:tracking-[0.1em]  text-xs sm:text-sm md:text-base lg:text-lg;
  }
  .categoryButton:hover {
    @apply cursor-pointer text-mainGray;
  }
  .dropDownButton {
    @apply cursor-pointer bg-gradient-to-l first:rounded-t-xl last:rounded-b-xl px-3 py-4 border-none block;
  }
  .dropDownButton:hover {
    @apply bg-gradient-to-r from-mainBrown to-mainWhiteGray;
  }

  /* Links */
  .mainLink {
    @apply cursor-pointer text-black hover:text-mainGray;
  }
  .secondaryLink {
    @apply cursor-pointer text-mainBrown hover:text-mainLighterBrown;
  }
  .headerLink {
    @apply cursor-pointer text-mainBlackGray hover:text-mainGray;
  }
}
